@import "/node_modules/slick-carousel/slick/slick.css";
@import "/node_modules/slick-carousel/slick/slick-theme.css";

/* slick-carousel CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.pagination-page,
.pagination-previous,
.pagination-next {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.pagination-page:hover,
.pagination-previous:hover,
.pagination-next:hover {
  background-color: #f7f7f7;
}

.pagination-page-link,
.pagination-previous-link,
.pagination-next-link {
  color: inherit;
  text-decoration: none;
}

.pagination-active {
  border-color: #2563eb; /* border-blue-600 */
}

.pagination-break {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #fff; /* bg-gray-400 */
  color: black;
  font-size: 0.875rem;
  font-weight: 500;
}
